.preloader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	background: #1B2354;
	opacity: 1;
	-webkit-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}

.preloader__svg {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 140px;
	height: 140px;
}

.load path {
	animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.pre path {
	transform-origin: center;
	transform-box: fill-box;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	fill: #3F538E;
}

@keyframes spin_full {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}