footer.footer
	.container
		.footer__box
			.footer__item
				.footer__title Каталог запчастин
				nav.footer__nav
					ul
						li
							a(href="#") Камаз
						li
							a(href="#") Урал
						li
							a(href="#") ЯМЗ
						li
							a(href="#") Автоаксесуари
			.footer__item
				.footer__title Інформація
				nav.footer__nav
					ul
						li
							a(href="#") Про нас
						li
							a(href="#") Оплата та доставка
						li
							a(href="#") Контакти
						li
							a(href="#") Політика конфіденційності та договірних пропозицій
			.footer__item
				.footer__title Зв’язок з нами
				.footer__infoblock
					a.header__tel-0800(href="tel:0800331330") 0 (800) 33-13-30
					.header__tel-0800-text Безкоштовно по Україні
				.footer__infoblock
					a.header__tel(href="tel:+380506310130") +38 (050) 631-01-30
					a.header__tel(href="tel:+380988828177") +38 (098) 882-81-77
			.footer__item
				.footer__title Приєднуйтесь
					.footer__social
						a(href="#" target="_blank")
							i.fa-brands.fa-facebook-f
						a(href="#" target="_blank")
							i.fa-brands.fa-instagram
						a(href="#" target="_blank")
							i.fa-brands.fa-twitter
						a(href="#" target="_blank")
							i.fa-brands.fa-youtube


