header.header
	.container
		.header__box
			.header__left
				h1.header__logo
					a.header__logo-link(href="index.html")
						span.header__logo-text АвтоСітіДніпро
						img.header__logo-img(src="img/logo/logo.svg" alt="АвтоСітіДніпро")
			.header__center
				.header__info
					.header__infoblock.header__infoblock_1
						a.header__tel-0800(href="tel:0800331330") 0 (800) 33-13-30
						.header__tel-0800-text Безкоштовно по Україні
					.header__infoblock.header__infoblock_2
						a.header__tel(href="tel:+380506310130") +38 (050) 631-01-30
						a.header__tel(href="tel:+380988828177") +38 (098) 882-81-77
					.header__infoblock.header__infoblock_3
						a.header__address(href="https://maps.app.goo.gl/m4xm4G2kBT5NWeCH6" target="_blank") Дніпро, пр. Богдана Хмельницького, 47
					.header__infoblock.header__infoblock_4
						a.header__link(href="#") Підбір Запчастин
						a.header__link.popup-call(href="#callback") Зворотній дзвінок
				.header__menu-box
					.header__menu
						nav.header__catalog
							a.button.header__catalog-button(href="#")
								i.fa-solid.fa-grip
								| Каталог
							.header__li-expand
								i.fa-solid.fa-chevron-right
							ul
								li
									a(href="categories.html") Камаз
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Маз
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Зил
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Газон
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Краз
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Урал
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Газель
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Вантажна іномарка
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Уаз
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Легкова іномарка
									ul
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Легкова СНД
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній
										li
											a(href="category.html") Підвіска
										li
											a(href="category.html") Колеса та ступиці
										li
											a(href="category.html") Рульове управління
										li
											a(href="category.html") Гальмівна система
										li
											a(href="category.html") Електрообладнання
										li
											a(href="category.html") Система охолодження
										li
											a(href="category.html") Зчеплення
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Автобуси
									ul
										li
											a(href="category.html") Двигун
										li
											a(href="category.html") Система живлення
										li
											a(href="category.html") Система випуску газів
										li
											a(href="category.html") КПП
										li
											a(href="category.html") Вали карданні
										li
											a(href="category.html") Міст задній


						nav.header__top-menu
							ul
								li
									a(href="about.html") Про нас
								li
									a(href="#") Оплата – Доставка
								li
									a(href="#") Контакти
						.header__search-form
							form.form-search(action="search.html" method="GET")
								input.header__search-input(type="text" placeholder="Пошук..." name="search" id="search")
								button.header__search-button
									i.fa-solid.fa-magnifying-glass
						a.button.header__login(href="cabinet.html")
							i.fa-solid.fa-user
							| Профіль
						a.button.header__cart(href="cart.html")
							i.fa-solid.fa-cart-shopping
							span.header__cart-text Кошик
							span.header__cart-counter 0

			.header__right
				.header__burger
					i.fa-solid.fa-xmark.d-none
					i.fa-solid.fa-bars

