header.header
	.container
		.header__box
			.header__left
				.header__logo
					a.header__logo-link(href="/")
						img.header__logo-img(src="img/logo/logo.svg" alt="АвтоСітіДніпро")
			.header__center
				.header__info
					.header__infoblock.header__infoblock_1
						a.header__tel-0800(href="tel:0800331330") 0 (800) 33-13-30
						.header__tel-0800-text Безкоштовно по Україні
					.header__infoblock.header__infoblock_2
						a.header__tel(href="tel:+380506310130") +38 (050) 631-01-30
						a.header__tel(href="tel:+380988828177") +38 (098) 882-81-77
					.header__infoblock.header__infoblock_3
						a.header__address(href="https://maps.app.goo.gl/m4xm4G2kBT5NWeCH6" target="_blank") Дніпро, пр. Богдана Хмельницького, 47
					.header__infoblock.header__infoblock_4
						a.header__link(href="#") Підбір Запчастин
						a.header__link.callback(href="#callback") Зворотній дзвінок
				.header__menu
					nav.header__catalog
						a.header__catalog-button(href="#")
							i.fa-solid.fa-grip
							| Каталог
						ul
							li
								a(href="#") Камаз
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Маз
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Зил
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Газон
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Краз
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Урал
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Гезель
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Вантажна іномарка
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Уаз
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Легкова іномарка
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Легкова СНД
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка

							li
								a(href="#") Автобуси
								ul
									li
										a(href="#") Двигун
									li
										a(href="#") Система живлення
									li
										a(href="#") Система випуску газів
									li
										a(href="#") КПП
									li
										a(href="#") Вали карданні
									li
										a(href="#") Міст задній
									li
										a(href="#") Підвіска
									li
										a(href="#") Колеса та ступиці
									li
										a(href="#") Рульове управління
									li
										a(href="#") Гальмівна система
									li
										a(href="#") Електрообладнання
									li
										a(href="#") Система охолодження
									li
										a(href="#") Зчеплення
									li
										a(href="#") Роздавальна коробка


					nav.header__top-menu
						ul
							li
								a(href="#") Про нас
							li
								a(href="#") Оплата – Доставка
							li
								a(href="#") Контакти
					form.header__search-form(action="search" method="get")
						input.header__search-input(type="text" placeholder="Пошук по сайту" name="search" id="search")
						button.header__search-button
							i.fa-solid.fa-magnifying-glass
			.header__right
