header.header
	.container
		.header__box
			.header__left
				h1.header__logo
					a.header__logo-link(href="index.html")
						span.header__logo-text АвтоСітіДніпро
						img.header__logo-img(src="img/logo/logo.svg" alt="АвтоСітіДніпро")
			.header__center
				.header__info
					.header__infoblock.header__infoblock_1
						a.header__tel-0800(href="tel:0800331330") 0 (800) 33-13-30
						.header__tel-0800-text Безкоштовно по Україні
					.header__infoblock.header__infoblock_2
						a.header__tel(href="tel:+380506310130") +38 (050) 631-01-30
						a.header__tel(href="tel:+380988828177") +38 (098) 882-81-77
					.header__infoblock.header__infoblock_3
						a.header__address(href="https://maps.app.goo.gl/m4xm4G2kBT5NWeCH6" target="_blank") Дніпро, пр. Богдана Хмельницького, 47
					.header__infoblock.header__infoblock_4
						a.header__link.popup-call(href="#choose") Підбір Запчастин
						a.header__link.popup-call(href="#callback") Зворотній дзвінок
				.header__menu-box
					.header__menu
						nav.header__catalog
							a.button.header__catalog-button(href="#")
								i.fa-solid.fa-grip
								| Каталог
							.header__li-expand
								i.fa-solid.fa-chevron-right
							ul
								li
									a(href="categories.html") Камаз
									ul
										li
											a(href="category.html") Двигун Камаз
										li
											a(href="category.html") Система живлення Камаз
										li
											a(href="category.html") Система випуску газів Камаз
										li
											a(href="category.html") КПП Камаз
										li
											a(href="category.html") Вали карданні Камаз
										li
											a(href="category.html") Міст задній Камаз
										li
											a(href="category.html") Підвіска Камаз
										li
											a(href="category.html") Колеса та ступиці Камаз
										li
											a(href="category.html") Рульове управління Камаз
										li
											a(href="category.html") Гальмівна система Камаз
										li
											a(href="category.html") Електрообладнання Камаз
										li
											a(href="category.html") Система охолодження Камаз
										li
											a(href="category.html") Зчеплення Камаз
										li
											a(href="category.html") Роздавальна коробка Камаз

								li
									a(href="categories.html") Маз
									ul
										li
											a(href="category.html") Двигун Маз
										li
											a(href="category.html") Система живлення Маз
										li
											a(href="category.html") Система випуску газів Маз
										li
											a(href="category.html") КПП Маз
										li
											a(href="category.html") Вали карданні Маз
										li
											a(href="category.html") Міст задній Маз
										li
											a(href="category.html") Підвіска Маз
										li
											a(href="category.html") Колеса та ступиці Маз
										li
											a(href="category.html") Рульове управління Маз
										li
											a(href="category.html") Гальмівна система Маз
										li
											a(href="category.html") Електрообладнання Маз
										li
											a(href="category.html") Система охолодження Маз
										li
											a(href="category.html") Зчеплення Маз
										li
											a(href="category.html") Роздавальна коробка

								li
									a(href="categories.html") Зил
									ul
										li
											a(href="category.html") Двигун Зил
										li
											a(href="category.html") Система живлення Зил
										li
											a(href="category.html") Система випуску газів Зил
										li
											a(href="category.html") КПП Зил
										li
											a(href="category.html") Вали карданні Зил
										li
											a(href="category.html") Міст задній Зил
										li
											a(href="category.html") Підвіска Зил
										li
											a(href="category.html") Колеса та ступиці Зил
										li
											a(href="category.html") Рульове управління Зил
										li
											a(href="category.html") Гальмівна система Зил
										li
											a(href="category.html") Електрообладнання Зил
										li
											a(href="category.html") Система охолодження Зил
										li
											a(href="category.html") Зчеплення Зил
										li
											a(href="category.html") Роздавальна коробка Зил

								li
									a(href="categories.html") Газон
									ul
										li
											a(href="category.html") Двигун Газон
										li
											a(href="category.html") Система живлення Газон
										li
											a(href="category.html") Система випуску газів Газон
										li
											a(href="category.html") КПП Газон
										li
											a(href="category.html") Вали карданні Газон
										li
											a(href="category.html") Міст задній Газон
										li
											a(href="category.html") Підвіска Газон
										li
											a(href="category.html") Колеса та ступиці Газон
										li
											a(href="category.html") Рульове управління Газон
										li
											a(href="category.html") Гальмівна система Газон
										li
											a(href="category.html") Електрообладнання Газон
										li
											a(href="category.html") Система охолодження Газон
										li
											a(href="category.html") Зчеплення Газон
										li
											a(href="category.html") Роздавальна коробка Газон

								li
									a(href="categories.html") Краз
									ul
										li
											a(href="category.html") Двигун Краз
										li
											a(href="category.html") Система живлення Краз
										li
											a(href="category.html") Система випуску газів Краз
										li
											a(href="category.html") КПП Краз
										li
											a(href="category.html") Вали карданні Краз
										li
											a(href="category.html") Міст задній Краз
										li
											a(href="category.html") Підвіска Краз
										li
											a(href="category.html") Колеса та ступиці Краз
										li
											a(href="category.html") Рульове управління Краз
										li
											a(href="category.html") Гальмівна система Краз
										li
											a(href="category.html") Електрообладнання Краз
										li
											a(href="category.html") Система охолодження Краз
										li
											a(href="category.html") Зчеплення Краз
										li
											a(href="category.html") Роздавальна коробка Краз

								li
									a(href="categories.html") Урал
									ul
										li
											a(href="category.html") Двигун Урал
										li
											a(href="category.html") Система живлення Урал
										li
											a(href="category.html") Система випуску газів Урал
										li
											a(href="category.html") КПП Урал
										li
											a(href="category.html") Вали карданні Урал
										li
											a(href="category.html") Міст задній Урал
										li
											a(href="category.html") Підвіска Урал
										li
											a(href="category.html") Колеса та ступиці Урал
										li
											a(href="category.html") Рульове управління Урал
										li
											a(href="category.html") Гальмівна система Урал
										li
											a(href="category.html") Електрообладнання Урал
										li
											a(href="category.html") Система охолодження Урал
										li
											a(href="category.html") Зчеплення Урал
										li
											a(href="category.html") Роздавальна коробка Урал

								li
									a(href="categories.html") Газель
									ul
										li
											a(href="category.html") Двигун Газель
										li
											a(href="category.html") Система живлення Газель
										li
											a(href="category.html") Система випуску газів Газель
										li
											a(href="category.html") Колеса та ступиці Газель
										li
											a(href="category.html") Рульове управління Газель
										li
											a(href="category.html") Гальмівна система Газель
										li
											a(href="category.html") Електрообладнання Газель
										li
											a(href="category.html") Система охолодження Газель
										li
											a(href="category.html") Зчеплення Газель
										li
											a(href="category.html") Роздавальна коробка Газель

								li
									a(href="categories.html") Вантажна іномарка
									ul
										li
											a(href="category.html") Двигун Вантажна іномарка
										li
											a(href="category.html") Система живлення Вантажна іномарка
										li
											a(href="category.html") Система випуску газів Вантажна іномарка
										li
											a(href="category.html") КПП Вантажна іномарка
										li
											a(href="category.html") Вали карданні Вантажна іномарка
										li
											a(href="category.html") Міст задній Вантажна іномарка
										li
											a(href="category.html") Підвіска Вантажна іномарка
										li
											a(href="category.html") Колеса та ступиці Вантажна іномарка
										li
											a(href="category.html") Рульове управління Вантажна іномарка
										li
											a(href="category.html") Гальмівна система Вантажна іномарка
										li
											a(href="category.html") Електрообладнання Вантажна іномарка
										li
											a(href="category.html") Система охолодження Вантажна іномарка
										li
											a(href="category.html") Зчеплення Вантажна іномарка
										li
											a(href="category.html") Роздавальна коробка Вантажна іномарка

								li
									a(href="categories.html") Уаз
									ul
										li
											a(href="category.html") Двигун Уаз
										li
											a(href="category.html") Система живлення Уаз
										li
											a(href="category.html") Система випуску газів Уаз
										li
											a(href="category.html") КПП Уаз
										li
											a(href="category.html") Вали карданні Уаз
										li
											a(href="category.html") Міст задній Уаз
										li
											a(href="category.html") Підвіска Уаз
										li
											a(href="category.html") Колеса та ступиці Уаз
										li
											a(href="category.html") Рульове управління Уаз
										li
											a(href="category.html") Гальмівна система Уаз
										li
											a(href="category.html") Електрообладнання Уаз
										li
											a(href="category.html") Система охолодження Уаз
										li
											a(href="category.html") Зчеплення Уаз
										li
											a(href="category.html") Роздавальна коробка Уаз

								li
									a(href="categories.html") Легкова іномарка
									ul
										li
											a(href="category.html") Вали карданні Легкова іномарка
										li
											a(href="category.html") Міст задній Легкова іномарка
										li
											a(href="category.html") Підвіска Легкова іномарка
										li
											a(href="category.html") Колеса та ступиці Легкова іномарка
										li
											a(href="category.html") Рульове управління Легкова іномарка
										li
											a(href="category.html") Гальмівна система Легкова іномарка
										li
											a(href="category.html") Електрообладнання Легкова іномарка
										li
											a(href="category.html") Система охолодження Легкова іномарка
										li
											a(href="category.html") Зчеплення Легкова іномарка
										li
											a(href="category.html") Роздавальна коробка Легкова іномарка

								li
									a(href="categories.html") Легкова СНД
									ul
										li
											a(href="category.html") Двигун Легкова СНД
										li
											a(href="category.html") Система живлення Легкова СНД
										li
											a(href="category.html") Система випуску газів Легкова СНД
										li
											a(href="category.html") КПП Легкова СНД
										li
											a(href="category.html") Вали карданні Легкова СНД
										li
											a(href="category.html") Міст задній Легкова СНД
										li
											a(href="category.html") Підвіска Легкова СНД
										li
											a(href="category.html") Колеса та ступиці Легкова СНД
										li
											a(href="category.html") Рульове управління Легкова СНД
										li
											a(href="category.html") Гальмівна система Легкова СНД
										li
											a(href="category.html") Електрообладнання Легкова СНД
										li
											a(href="category.html") Система охолодження Легкова СНД
										li
											a(href="category.html") Зчеплення Легкова СНД
										li
											a(href="category.html") Роздавальна коробка Легкова СНД

								li
									a(href="categories.html") Автобуси
									ul
										li
											a(href="category.html") Двигун Автобуси
										li
											a(href="category.html") Система живлення Автобуси
										li
											a(href="category.html") Система випуску газів Автобуси
										li
											a(href="category.html") КПП Автобуси
										li
											a(href="category.html") Вали карданні Автобуси
										li
											a(href="category.html") Міст задній Автобуси


						nav.header__top-menu
							ul
								li
									a(href="about.html") Про нас
								li
									a(href="payment.html") Оплата та доставка
								li
									a(href="contacts.html") Контакти
						.header__search-form
							form.form-search(action="search.html" method="GET")
								input.header__search-input(type="text" placeholder="Пошук..." name="search" id="search")
								button.header__search-button
									i.fa-solid.fa-magnifying-glass
						a.button.header__login(href="cabinet.html")
							i.fa-solid.fa-user
							| Профіль
						a.button.header__cart(href="cart.html")
							i.fa-solid.fa-cart-shopping
							span.header__cart-text Кошик
							span.header__cart-counter 0

			.header__right
				.header__burger
					i.fa-solid.fa-xmark.d-none
					i.fa-solid.fa-bars

