form.form-ajax(method='POST')
	#callback.popup.d-none
		input(type="hidden" name="admin_email" value="creaslippers@gmail.com")
		input(type="hidden" name="from_email" value="admin@site.com")
		input(type="hidden" name="project_name" value="АвтоСітіДніпро")
		input(type="hidden" name="form_subject" value="Запит зворотного дзвінка")
		input(type="hidden" name="сool" value="Запит відправлено!")
		input(type="hidden" name="сool_message" value="Наш менеджер зв'яжеться з Вами найближчим часом")
		input(type="hidden" name="bad" value="Сталася помилка!")
		input(type="hidden" name="bad_message" value="Сталася серверна помилка. Спробуйте пізніше або зв'яжіться з нами іншим способом. Приносимо свої вибачення.")
		.popup__box
			.popup__close
				i.fa-solid.fa-xmark
			.popup__heading Зворотний дзвінок
			input.popup__input(type="text" name="Ім'я" maxlength="30" placeholder="Ваше ім'я" required)
			input.popup__input(type="tel" name="Телефон" maxlength="30" placeholder="Ваш телефон" required)
			button.popup__button.button_big Відправити

.warning.d-none
	.warning__back
		.warning__text Взаємодіючи з сайтом, ви погоджуєтесь з <a class="warning__link popup-click" href="policy">політикою конфіденційності</a>.
		.warning__close

.scrollup.scrollup_hide.d-none
	i.fa-solid.fa-circle-up

.preloader
	.preloader__svg
		<svg version="1.1" id="preloader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140px" height="140px" viewBox="0 0 200 200">
			<g class="pre load">
				<path d="M124.5,57L124.5,57c0,3.9-3.1,7-7,7h-36c-3.9,0-7-3.1-7-7v0c0-3.9,3.1-7,7-7h36C121.4,50,124.5,53.1,124.5,57z"/>
				<path d="M147.7,86.9L147.7,86.9c-2.7,2.7-7.2,2.7-9.9,0l-25.5-25.5c-2.7-2.7-2.7-7.2,0-9.9l0,0c2.7-2.7,7.2-2.7,9.9,0L147.7,77C150.5,79.8,150.5,84.2,147.7,86.9z"/>
				<path d="M143,74.5L143,74.5c3.9,0,7,3.1,7,7v36c0,3.9-3.1,7-7,7l0,0c-3.9,0-7-3.1-7-7v-36C136,77.6,139.1,74.5,143,74.5z"/>
				<path d="M148.4,112.4L148.4,112.4c2.7,2.7,2.7,7.2,0,9.9L123,147.7c-2.7,2.7-7.2,2.7-9.9,0h0c-2.7-2.7-2.7-7.2,0-9.9l25.5-25.5C141.3,109.6,145.7,109.6,148.4,112.4z"/>
				<path d="M125.5,143L125.5,143c0,3.9-3.1,7-7,7h-36c-3.9,0-7-3.1-7-7l0,0c0-3.9,3.1-7,7-7h36 C122.4,136,125.5,139.1,125.5,143z"/>
				<path d="M52.3,113.1L52.3,113.1c2.7-2.7,7.2-2.7,9.9,0l25.5,25.5c2.7,2.7,2.7,7.2,0,9.9h0c-2.7,2.7-7.2,2.7-9.9,0L52.3,123C49.5,120.2,49.5,115.8,52.3,113.1z"/>
				<path d="M57,75.5L57,75.5c3.9,0,7,3.1,7,7v36c0,3.9-3.1,7-7,7h0c-3.9,0-7-3.1-7-7v-36C50,78.6,53.1,75.5,57,75.5z"/>
				<path d="M86.9,52.3L86.9,52.3c2.7,2.7,2.7,7.2,0,9.9L61.5,87.6c-2.7,2.7-7.2,2.7-9.9,0l0,0c-2.7-2.7-2.7-7.2,0-9.9L77,52.3C79.8,49.5,84.2,49.5,86.9,52.3z"/>
			</g>
		</svg>