form.form-ajax(method='POST')
	#callback.popup.d-none
		input(type="hidden" name="admin_email" value="creaslippers@gmail.com")
		input(type="hidden" name="from_email" value="admin@site.com")
		input(type="hidden" name="project_name" value="АвтоСітіДніпро")
		input(type="hidden" name="form_subject" value="Запит зворотного дзвінка")
		input(type="hidden" name="сool" value="Запит відправлено!")
		input(type="hidden" name="сool_message" value="Наш менеджер зв'яжеться з Вами найближчим часом")
		input(type="hidden" name="bad" value="Сталася помилка!")
		input(type="hidden" name="bad_message" value="Сталася серверна помилка. Спробуйте пізніше або зв'яжіться з нами іншим способом. Приносимо свої вибачення.")
		.popup__box
			.popup__close
				i.fa-solid.fa-xmark
			.popup__heading Зворотний дзвінок
			input.popup__input(type="text" name="Ім'я" maxlength="30" placeholder="Ваше ім'я" required)
			input.popup__input(type="tel" name="Телефон" maxlength="30" placeholder="Ваш телефон" required)
			button.popup__button.button_big Відправити

.warning.d-none
	.warning__back
		.warning__text Взаємодіючи з сайтом, ви погоджуєтесь з <a class="warning__link popup-click" href="#policy">політикою конфіденційності</a>.
		.warning__close

.scrollup.scrollup_hide.d-none
	i.fa-solid.fa-circle-up