extends includes/_template

block title
	| Про нас

block main
	main.main
		.container
			nav.breadcrumbs
				ul
					li
						a(href="index.html") Головна
					li Про нас

		article.page
			.container
				.page__box
					h2.page__h2 Про нас
					.page__content
						h3 Інформація про компанію
						div
							b Назва:
							|
							| Автосіті Дніпро
						div
							b Тип компанії:
							|
							| Торгова компанія, Представництво

						h3 Організаційно-правова форма та капітал
						div
							b Рік заснування:
							|
							| 2013
						div
							b Організаційно-правова форма:
							|
							| Товариство з обмеженою відповідальністю


