extends includes/_template

block title
	| Категорії

block main
	main.main
		.container
			nav.breadcrumbs
				ul
					li
						a(href="#") Головна
					li Категорії
		section.section.categories.categories_page
			.container
				h2.categories__h2.text-center Категорії
				.categories__box
					.grid-4
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Камаз
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Маз
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_003.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Краз
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Урал
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Зил
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_003.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Газон
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Вантажна іномарка
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Супутні товари
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Камаз
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Маз
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_003.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Краз
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Урал
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Зил
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_003.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Газон
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Вантажна іномарка
						a.categories__item(href="category.html")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Супутні товари
		section.section.products.products_product
			.container
				h2.products__h2.text-center Акційні товари
				.products__box
					.grid-4
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.form-prod.form-identification-your-class(method="POST")
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.form-prod.form-identification-your-class(method="POST")
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.form-prod.form-identification-your-class(method="POST")
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.form-prod.form-identification-your-class(method="POST")
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping