extends includes/_template

block title
	| Контакти

block main
	main.main
		.container
			nav.breadcrumbs
				ul
					li
						a(href="index.html") Головна
					li Контакти
		section.section.contacts
			.container
				h2.contacts__h2.text-center.ttu Контакти
				.contacts__box.grid-2
					.contacts__left
						.contacts__block
							.contacts__icon
								i.fa-solid.fa-location-dot
							.contacts__link
								a(href="https://maps.app.goo.gl/5FFfoNcT2tXKUxMp9" target="_blank") Дніпро, пр. Богдана Хмельницького, 47
						.contacts__block
							.contacts__icon
								i.fa-solid.fa-phone
							.contacts__link
								a(href="tel:0800331330") 0 (800) 33-13-30
								.contacts__link-description Безкоштовна гаряча лінія
						.contacts__block
							.contacts__icon
								i.fa-solid.fa-phone
							.contacts__link
								a(href="tel:+380506310130") +380 (50) 631-01-30
								.contacts__link-description Антон
						.contacts__block
							.contacts__icon
								i.fa-solid.fa-phone
							.contacts__link
								a(href="tel:+380988828177") +380 (98) 882-81-77
						.contacts__block
							.contacts__icon
								i.fa-solid.fa-envelope
							.contacts__link
								a(href="mailto:as@autocity.biz.ua") as@autocity.biz.ua
					.contacts__right
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1323.8643293592459!2d35.0094238!3d48.4233534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe357ef29ad6d%3A0x4f714e77279157bd!2z0JfQsNC_0YfQsNGB0YLQuCDQmtCw0LzQsNC3LCDQr9Cc0JcsINCX0JjQmy0xMzAsMTMxLNCj0KDQkNCbLCDQk9CQ0Jcg0Jgg0KIu0JQuLg!5e0!3m2!1suk!2sua!4v1716882656871!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


