extends includes/_template

block title
	| АвтоСітіДніпро

block main
	main.main
		.container
			.swiper.swiper-home
				.swiper-home__button.swiper-home__button_next
					i.fa-solid.fa-caret-right
				.swiper-home__button.swiper-home__button_prev
					i.fa-solid.fa-caret-left
				.swiper-wrapper
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_001.jpg" alt="" loading="lazy")
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_002.jpg" alt="" loading="lazy")
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_003.jpg" alt="" loading="lazy")
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_004.jpg" alt="" loading="lazy")
		section.section.categories.categories_home
			.container
				h2.text-center Популярні категорії
				.categories__box
					.grid-4
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Камаз
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Маз
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_003.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Краз
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Урал
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Зил
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_003.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Газон
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_001.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Вантажна іномарка
						a.categories__item(href="car-brand")
							img.categories__img(src="img/tmp/some_002.jpg" alt="" loading="lazy")
							.categories__darken
								h3.categories__h3 Супутні товари

					.text-center
						a.button.button_big.button_blue.categories__link(href="categories") Дивитися всі

		section.section.home-banner
			.container
				.home-banner__box
					.home-banner__left
						h2.home-banner__h2 Індивідуаль&shy;ний підбір запчастин
						.home-banner__text Залиште заявку і ми безкоштовно підберемо<br>для вас автозапчастини
					.home-banner__center
						img.home-banner__img(src="img/front/some.png" alt="" loading="lazy")
					.home-banner__right
						form.form-ajax(method='POST')
							input(type="hidden" name="admin_email" value="creaslippers@gmail.com")
							input(type="hidden" name="from_email" value="admin@site.com")
							input(type="hidden" name="project_name" value="АвтоСітіДніпро")
							input(type="hidden" name="form_subject" value="Запит зворотного дзвінка")
							input(type="hidden" name="сool" value="Запит відправлено!")
							input(type="hidden" name="сool_message" value="Наш менеджер зв'яжеться з Вами найближчим часом")
							input(type="hidden" name="bad" value="Сталася помилка!")
							input(type="hidden" name="bad_message" value="Спробуйте пізніше або зв'яжіться з нами іншим способом.")
							input.home-banner__input(type="tel" name="Телефон" maxlength="30" placeholder="Ваш номер телефону" required)
							button.button.button_big.home-banner__button Залишити заявку

		section.section.products.products_home
			.container
				h2.text-center Акційні товари
				.products__box
					.grid-4
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping

		section.section.benefits
			.container
				h2.text-center Чому варто обрати нас?
				.benefits__box
					.grid-3
						.benefits__item
							.benefits__title Lorem ipsum component variant main layer
							.benefits__text Lorem ipsum component variant main layer. Blur style selection distribute team vertical plugin selection horizontal library.
						.benefits__item
							.benefits__title Lorem ipsum component variant main layer
							.benefits__text Lorem ipsum component variant main layer. Blur style selection distribute team vertical plugin selection horizontal library.
						.benefits__item
							.benefits__title Lorem ipsum component variant main layer
							.benefits__text Lorem ipsum component variant main layer. Blur style selection distribute team vertical plugin selection horizontal library.

		section.section.questions(style="background-image: url(img/front/kamaz.png)")
			.questions__darken
			.container.position-relative
				h2.text-center.white Залишилися питання?
				.questions__text.white Наші менеджери <span class="ttu">безкоштовно</span> проконсультують Вас!
				form.form-ajax(method='POST')
					input(type="hidden" name="admin_email" value="creaslippers@gmail.com")
					input(type="hidden" name="from_email" value="admin@site.com")
					input(type="hidden" name="project_name" value="АвтоСітіДніпро")
					input(type="hidden" name="form_subject" value="Запит зворотного дзвінка")
					input(type="hidden" name="сool" value="Запит відправлено!")
					input(type="hidden" name="сool_message" value="Наш менеджер зв'яжеться з Вами найближчим часом")
					input(type="hidden" name="bad" value="Сталася помилка!")
					input(type="hidden" name="bad_message" value="Спробуйте пізніше або зв'яжіться з нами іншим способом.")
					.questions__box
						input.questions__input(type="tel" name="Телефон" maxlength="30" placeholder="Ваш номер телефону" required)
						textarea.questions__textarea(name="Питання" maxlength="1000" placeholder="Ваше питання" required)
						button.button.button_big.questions__button Отримати консультацію
			.questions__man(style="background-image: url(img/front/auto-mechani.png)")

		.home-text
			.container
				h4 Запчастини для КАМАЗ: Якість та Надійність
				p Власники вантажівок Камського автозаводу цінують наш інтернет-магазин  за надійність та великий вибір запчастин КАМАЗ. Наш каталог налічує понад 4000 оригінальних деталей від виробника, що включає електрику, електроніку, оптику, коробки передач та інші комплектуючі.
				p КАМАЗ виробляє різні моделі великовантажних машин, включно з тягачами, самоскидами, бортовими вантажівками та військовими моделями, відомими своєю простотою в експлуатації та довговічністю. Запчастини для цих машин потрібно обирати уважно, оскільки підробки можуть призвести до серйозних поломок. пропонує лише сертифіковані запчастини КАМАЗ, що забезпечують якість та довговічність. Купівля від офіційного постачальника гарантує відповідність всім технологічним стандартам та мінімізує ризик поломок. Кожна деталь у нашому асортименті супроводжується гарантією від виробника, підтвердженою документально. Відрізнити оригінальні деталі можна за фірмовою упаковкою та спеціальним маркуванням.
				h4 Вибираючи Нас:
				p Ви обираєте надійність і якість для своєї великовантажної техніки КАМАЗ. Приєднуйтесь до численних задоволених клієнтів та скористайтесь нашими оптовими та роздрібними пропозиціями, а також зручною доставкою по всій Україні. Ключові слова: Запчастини КАМАЗ, інтернет-магазин запчастин, оригінальні деталі КАМАЗ, великовантажні машини, сертифіковані запчастини.




