extends includes/_template

block title
	| АвтоСітіДніпро

block main
	main.main
		.container
			.swiper
				.swiper__button.swiper__button_next
					i.fa-solid.fa-caret-right
				.swiper__button.swiper__button_prev
					i.fa-solid.fa-caret-left
				.swiper-wrapper
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_001.jpg" alt="")
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_002.jpg" alt="")
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_003.jpg" alt="")
					.swiper-slide
						a(href="#")
							img(src="img/tmp/slider_004.jpg" alt="")

