extends includes/_template

block title
	| Вихід

block main
	main.main
		section.section.logout
			.container
				h2.logout__h2 Вихід
				h3.text-center Ви вийшли зі свого акаунта
				.text-center.mt-2
					a.button.button_blue.button_big(href="login.html") Увійти