extends includes/_template

block title
	| Оплата та доставка

block main
	main.main
		.container
			nav.breadcrumbs
				ul
					li
						a(href="#") Головна
					li Оплата та доставка
		article.page
			.container
				.page__box
					h2.page__h2 Оплата та доставка
					.page__content
						p Доставка здійснюється тільки по передоплаті.
						h4 Способи доставки:
						p Нова Пошта
						p Самовивіз
						h4 Способи оплати:
						p Післяплата. При умові передоплати за відправку в обидві сторони
						p Оплата на рахунок: Переказ на р/р ФОП (без ПДВ)
						p Безготівковий розрахунок з ПДВ (уточнюйте у менеджера)
						h4 Гарантія:
						p Гарантія від виробника, за умови належного зберігання пакування та товарного вигляду.

