extends includes/_template

block title
	| Кронштейн генератора Євро 2,3 для КамАЗ

block main
	main.main
		.container
			nav.breadcrumbs
				ul
					li
						a(href="#") Головна
					li
						a(href="#") Категорія
					li
						a(href="#") Підкатегорія
					li Кронштейн генератора Євро 2,3 для КамАЗ

		article.product
			.container
				.product__box
					.product__left
						.swiper.product__swiper
							.swiper-wrapper.product__swiper-wrapper
								.swiper-slide.product__swiper-slide
									img(src="img/tmp/prod_1.jpeg" alt="" loading="lazy")
								.swiper-slide.product__swiper-slide
									img(src="img/tmp/prod_2.jpeg" alt="" loading="lazy")
								.swiper-slide.product__swiper-slide
									img(src="img/tmp/prod_3.jpeg" alt="" loading="lazy")
						.swiper.product__swiper-thumbs(thumbsSlider="")
							.swiper-wrapper.product__swiper-wrapper
								.swiper-slide.product__swiper-slide
									img(src="img/tmp/prod_1.jpeg" alt="" loading="lazy")
								.swiper-slide.product__swiper-slide
									img(src="img/tmp/prod_2.jpeg" alt="" loading="lazy")
								.swiper-slide.product__swiper-slide
									img(src="img/tmp/prod_3.jpeg" alt="" loading="lazy")
					.product__center
						h2.product__h2 Кронштейн генератора Євро 2,3 для КамАЗ
					.product__right
						.product__text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae corporis dolor doloribus enim labore libero, maxime nam, necessitatibus nemo nostrum numquam omnis quasi quod, reiciendis repellat saepe temporibus?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae corporis dolor doloribus enim labore libero, maxime nam, necessitatibus nemo nostrum numquam omnis quasi quod, reiciendis repellat saepe temporibus?
						.product__instock В наявності&nbsp;
							span.product__instock_count 4
							| &nbsp;од.
						.product__article Код:&nbsp;
							span.product__code_num 323.1106010 Д
						hr.product__hr
						.product__infobox
							.product__info-left
								.product__cost 1&nbsp;445
									|
									|
									span.product__currency грн
								form.product__form(method='POST')
									input(type="hidden" name="id" value="123")
									button.button.button_mini.button_blue.product__button Купити
										i.fa-solid.fa-cart-shopping
								.product__additional-info
									.product__additional-icons
										i.fa-solid.fa-credit-card
									.product__additional-text Можлива електронна оплата
							.product__info-right
								.product__additional-info
									.product__additional-icons
										i.fa-solid.fa-truck
									.product__additional-text Доставка по Україні
										|
										|
										a(href="#") Умови доставки
								.product__additional-info
									.product__additional-icons
										i.fa-solid.fa-money-bill
									.product__additional-text Можливість оплати ПДВ
								.product__additional-info
									.product__additional-icons
										i.fa-solid.fa-file-lines
									.product__additional-text
										a(href="#") Спеціальні умови для оптовиків

		section.section.products.products_product
			.container
				h2.text-center Подібні товари
				.products__box
					.grid-4
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping
						.products__item
							a.products__img-box(href="product.html")
								img.products__img(src="img/tmp/porshen.jpg" alt="" loading="lazy")
							h3.products__h3
								a.products__h3-link(href="product.html") Поршень 740.1004015-10
							.products__article 740.1004015-10
							.products__instock В наявності
							.products__cost 1&nbsp;445
								span.products__currency
								|
								| грн
							form.products__form(method='POST')
								input(type="hidden" name="id" value="123")
								button.button.button_mini.products__button Купити
									i.fa-solid.fa-cart-shopping

