// @import "reset"
@import "fonts"
@import "vars"
@import "mixins"

*
	box-sizing: border-box

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0
	
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

input[type='number']
	appearance: textfield
	-moz-appearance: textfield

input, textarea 
	font-family: $font !important

a:active, a:focus, input, textarea, input:active, textarea:active, input:focus, textarea:focus, button:active, button:focus
	outline: none

html
	font-size: 16px
	overflow-x: hidden
	width: 100%
	scroll-behavior: smooth

body
	position: relative
	overflow-x: hidden
	width: 100%
	height: 100%
	font-size: rem(16)
	font-family: $font
	font-weight: 400
	line-height: 1.5
	letter-spacing: .5px
	color: $black

	@include media(575)
		font-size: rem(14)
	
.white
	color: $white

.h-100
	height: 100%

.d-none
	display: none

.d-flex
	display: flex

.d-block
	display: block

.d-iblock
	display: inline-block

.flex-row
	flex-direction: row

.flex-column
	flex-direction: column

.justify-content-between
	justify-content: space-between

.justify-content-center
	justify-content: center

.align-items-center
	align-items: center

.overflow-y-hidden
	overflow-y: hidden

.text-center
	text-align: center

.visible
	visibility: visible

.invisible
	visibility: hidden
	width: 0
	height: 0

h1, h2, h3, h4, h5, h6
	text-transform: uppercase
	font-weight: 700
	line-height: 1.2
	word-wrap: break-word !important

h1
	font-size: rem(48)
	padding: em(20) 0 em(16)

h2
	font-size: rem(32)

h3
	font-size: rem(28)

h4
	font-style: rem(24)

a
	color: $sea
	text-decoration: none
	transition-duration: 300ms

	&:hover, &:focus, &:active
		color: $accent

button, .button
	display: inline-block
	padding: 10px 20px
	background-color: $accent
	color: $white
	font-weight: 600
	text-transform: uppercase
	text-decoration: none
	border-radius: 4px
	cursor: pointer
	font-size: 16px
	line-height: 1
	font-family: $font
	text-align: center
	transition-duration: 300ms
	// flex: 0 0 auto

	&:disabled
		background-color: $gray
		cursor: default

		&:hover, &:focus
			background-color: $gray

button:hover, .button:hover, button:focus, .button:focus
	background-color: $sea

.button_mini
	padding: 6px 12px

.small
	font-size: 14px
	font-weight: 300

.fw300
	font-weight: 300

.fw400
	font-weight: 400

.fw500
	font-weight: 500

.fw600
	font-weight: 600

.fw700
	font-weight: 700

.fw800
	font-weight: 800

.fw900
	font-weight: 900


.container
	position: relative
	width: 1140px
	margin: 0 auto
	padding: 0 20px

	@include media(1199)
		width: 100%

	@include media(575)
		padding: 0 10px

.container-fluid
	position: relative
	width: 100%
	margin: 0 auto
	padding: 0 20px

	@include media(575)
		padding: 0 10px

.wrapper
	display: flex
	flex-direction: column
	min-height: 100vh

.main
	margin-top: 70px
	flex: 1 0 auto

.footer
	position: relative
	flex: 0 0 auto
	padding: 40px 0
	background-color: $blue
	z-index: 2

.header
	position: relative
	background-color: $blue
	padding: 20px 0
	width: 100%
	z-index: 9
	color: $white

	ul, li
		list-style: none

	&__box
		display: flex
		justify-content: space-between
		align-items: center
		gap: 30px

	&__logo
		width: 130px

	&__logo-img
		width: 100%

	&__center
		display: flex
		flex-direction: column

	&__info
		display: flex
		justify-content: space-between
		gap: 34px
		padding-bottom: 20px
		border-bottom: 1px solid $sea

		@include media(1199)
			border-bottom: none
			padding-bottom: 0

	&__infoblock
		display: flex
		flex-direction: column
		flex: 1 1 auto
		justify-content: space-between
		gap: 4px

		&_2
			@include media(1199)
				text-align: center

		&_3
			@include media(1199)
				display: none

	&__tel
		font-size: 16px
		color: $white

	&__tel-0800
		font-size: 20px
		font-weight: 800
		color: $accent

		&:hover, &:focus, &:active
			color: $white

	&__tel-0800-text
		font-size: 13px

	&__address
		font-size: 14px
		color: $white

	&__link
		text-align: right
		font-weight: 600
		color: $accent

		&:hover, &:focus, &:active
			color: $white

	&__menu
		display: flex
		justify-content: space-between
		gap: 16px
		align-items: center
		padding-top: 20px

		@include media(1199)
			position: absolute
			top: 160px
			left: 50%
			width: 100%
			max-width: 480px
			transform: translateX(-50%)
			background: rgba($black, .8)
			flex-direction: column
			justify-content: start
			align-items: flex-start
			padding: 0

		.button
			display: flex
			align-items: center
			gap: 10px
			flex: 1 0 auto

	&__catalog
		position: relative

		@include media(1199)
			width: 100%

		&:hover
			&>ul
				visibility: visible
				opacity: 1
				transform: translateY(-40px)

				@include media(1199)
					transform: none

		&>ul
			position: absolute
			display: flex
			flex-direction: column
			top: 60px
			padding: 30px 0 0 0
			visibility: hidden
			opacity: 0
			transition-duration: 300ms

			@include media(1199)
				position: relative
				visibility: visible
				opacity: 1
				padding: 0
				margin: 0
				top: 0


		&>ul>li
			position: relative
			display: flex
			flex: 1
			min-width: 230px

			&:hover
				&>ul
					visibility: visible
					width: auto
					height: auto
					opacity: 1

		&>ul a
			padding: 10px 16px
			font-size: 14px
			text-transform: uppercase
			font-weight: 600
			flex: 1 0 auto
			width: 100%
			border-radius: 4px
			margin-top: -1px
			margin-right: -1px

			@include media(1199)
				display: flex
				border-radius: 0
				margin: 0
				padding: 0 20px
				height: 50px
				align-items: center
				font-size: 16px

		&>ul>li>a
			background: $sea
			border: 1px solid $blue-light
			color: $white

			@include media(1199)
				border: none
				border-bottom: 1px solid $blue-light

			&:hover, &:focus, &:active
				background: $accent
				color: $sea

		&>ul>li>ul
			position: absolute
			display: flex
			flex-direction: column
			top: 0
			left: 100%
			padding: 0
			visibility: hidden
			opacity: 0
			transition-duration: 300ms

			@include media(1199)
				position: relative
				visibility: visible
				opacity: 1
				top: 50px
				left: -100%
				align-items: stretch

		&>ul>li>ul>li
			display: flex
			min-width: 300px

			@include media(1199)
				width: 100%

		&>ul>li>ul>li>a
			background: $gray-light
			border: 1px solid $blue-light
			color: $sea

			&:hover, &:focus, &:active
				background: $accent

			@include media(1199)
				border: none
				border-bottom: 1px solid $blue-light

	&__catalog-button
		padding: 6px 14px

		@include media(1199)
			height: 50px
			border-radius: 0
			padding: 0 20px
			border-bottom: 1px solid $white

		i
			color: $white
			font-size: 24px
			transition-duration: 300ms

		&:hover, &:focus, &:active
			background: $accent
			color: $sea

			i
				color: $sea

	&__top-menu
		flex: 1 0 auto

		ul
			display: flex
			gap: 16px
			padding: 0

		a
			color: $white
			font-weight: 600

			&:hover, &:focus, &:active
				color: $accent

	&__search-form
		position: relative

	&__search-input
		width: 116px
		height: 36px
		border-radius: 4px
		border: none
		padding: 0 10px

	&__search-button
		position: absolute
		width: 36px
		height: 36px
		top: 0
		right: 0
		padding: 0
		background: none
		border: none
		border-radius: 0 4px 4px 0
		
		&:hover, &:focus, &:active
			i
				color: $white

		i
			color: $sea
			transition-duration: 300ms

	&__login
		padding: 10px 14px
		background: $blue-light

		&:hover, &:focus, &:active
			color: $accent

	&__cart
		padding: 10px 14px
		background: $sea

		&:hover, &:focus, &:active
			color: $accent

	&__right
		display: none

		@include media(1199)
			display: flex


